
@font-face {
    font-display: swap;
    font-family: gt-sectra;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/e7d95bd08a8a8b235e37.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: gotham;
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/87db3dd375e51e283771.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: messina-sans;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/a4bcc0eaa8d2f01dfb32.woff2) format("woff2");
}
